# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.zip
*.egg
MANIFEST
# UNA Test Data
archive
tests/unit_testing/Test Cases
examples/Cities/Milan
examples/Cities/LA
examples/Cities/bronx
examples/Cities/NYC
examples/Cities/Milan_heat
examples/Cities/Somerville/Fifteen_min_city